/* styles.css */
body {
    background-color: rgb(78, 167, 209);
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.button-container {
    text-align: center;
    margin-bottom: 20px; /* Agregado para dar espacio entre la lista y el botón */
}

.button {
    background-color: rgb(36, 163, 93);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
}

.col-3 {
    flex-direction: column;
    flex: 0 0 40%;
    gap: 20px; /* Espacio entre las canciones */
}

.song_container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.artist_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.artist_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nombre_artista,
.cancion_artista {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.nombre_artista {
    background-color: rgb(255, 81, 0);
}

.cancion_artista {
    background-color: rgb(27, 136, 130);
}

.number-arrow-container {
    display: flex;
    flex-direction: column;
}

.circle_number {
    width: 25px;
    height: 25px;
    background-color: rgb(42, 79, 179);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Reducido el espacio entre el número y la flecha */
}

.arrow_up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #0f8a0f;
    display: inline-block;
}

.arrow_down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #f00606;
    display: inline-block;
}

.arrow_simple {
    width: 26px; /* Ancho del rectángulo */
    height: 10px; /* Altura del rectángulo */
    background-color: #ffffff; /* Color del rectángulo */
    display: inline-block;
}

.centered-image {
    display: block;
    margin: auto;
  }